@import "helpers/mixins";
@import "helpers/fonts";

@import "./theme";

:root {
	--theme-color-primary: #f06925;
	--theme-color-secondary: #477998;
	--theme-color-tertiary: #72b542;
	--theme-color-white: #fff;
}

a {
	text-decoration: none;
}
