@import "../../styles/helpers/mixins.scss";

.project-list {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(20%, 24%) );
	grid-auto-rows: 1fr;
	grid-gap: 16px;
	justify-content: center;

	@include breakpoint(tablet) {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-gap: 2%;
	}

	@include breakpoint(s-mobile) {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		grid-gap: 2%;
	}

	&:before {
		content: '';
		width: 0;
		padding-bottom: 100%;
		grid-row: 1/1;
		grid-column: 1/1;
	}

	& > *:first-child {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
	}
}
