@import "../../styles/helpers/mixins";


.pageContent {
	width: 87.5%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint(tablet) {
		max-width: 980px;
	}

	@include breakpoint(mobile) {
		max-width: 87.5%;
		padding: 0;
	}
}
